body {
    background-color: #f7f1e3;
}

.container {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
}

td {
    border: 1px solid #a08f80;
    width: 100px;
    background: #e2dbd3;
    height: 100px;
}

#titre {
    width: 310px;
    margin: 22px auto;
}

#replay {
    vertical-align: bottom;
    margin-top: 8px;
    cursor: pointer;
}

#choices {
    border: 1px solid #a08f80;
    width: 300px;
    margin: 0 auto;
    display: table;
    background: #e2dbd3;
    padding: 10px;
}

#menus {
    width: 300px;
    margin: 0 auto;
    display: table;
}

#menu1 {
    border: 1px solid #a08f80;
    width: 150px;
    margin: 0 auto;
    display: table-cell;
    background: #e2dbd3;
}

#menu2 {
    border: 1px solid #a08f80;
    width: 150px;
    margin: 0 auto;
    display: table-cell;
    background: #e2dbd3;
}

#choice1 {
    margin: 10px;
    cursor: pointer;
    display: table-cell;
}

#choice2 {
    margin: 10px;
    cursor: pointer;
    display: table-cell;
}

#choice3 {
    margin: 10px;
    cursor: pointer;
    display: table-cell;
}

#score {
    color: #261c13;
    font-size: 38px;
}

/* White */
.c-w {
	width: 60px;
	height: 60px;
    margin: 0 auto;
}

.s-w {
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

.t-w {
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

/* Maroon */
.c-m {
	width: 60px;
	height: 60px;
    margin: 0 auto;
}

.s-m {
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

.t-m {
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

/* Black */
.c-b {
	width: 60px;
	height: 60px;
    margin: 0 auto;
}

.s-b {
    width: 60px;
	height: 60px;
    margin: 0 auto;
}

.t-b {
    width: 60px;
    height: 60px;
    margin: 0 auto;
}
